.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;   /* Centraliza os cards horizontalmente */
    align-items: start;      /* Alinha os cards ao topo, mas pode ser alterado para 'center' ou 'end' */
    min-height: 100vh;        /* Garante que o container ocupe a altura total da tela */
    width: 100%;              /* Garante que o container ocupe toda a largura disponível */
    position: relative;      /* Permite manipulação da posição */
}

/* Para controlar o posicionamento vertical */
.card {
    width: 100%;    /* Largura baseada em 30% da largura do contêiner */
    height: 200px; /* Altura fixa */
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: -200px; /* Adiciona um espaço de ajuste para cima e para baixo */
    margin-bottom: 10px; /* Adiciona um espaço entre os cards */
    margin-left: 325px;
}

.card h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.percentage {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #695cfe;
}

/* Título principal */
.title_homeP {
    text-align: center;
    padding: 50px 0;
    margin-top: 70px;
}

.title_homeP h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
}

.title_homeP span {
    color: #695cfe;
}
