.texto-canto {
    position: absolute;
    top: 14%;
    right: 650px;
    color: rgb(0, 0, 0);
    font-size: 30px; /* Tamanho da fonte */
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold; /* Deixa o texto mais grosso */
}

.texto-canto2 {
    position: absolute;
    top: 97%;
    right: 650px;
    color: rgb(0, 0, 0);
    font-size: 30px; /* Tamanho da fonte */
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold; /* Deixa o texto mais grosso */
}

.texto-canto3 {
    position: absolute;
    top: 186%;
    right: 650px;
    color: rgb(0, 0, 0);
    font-size: 30px; /* Tamanho da fonte */
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold; /* Deixa o texto mais grosso */
}

.texto-cantog {
    position: absolute;
    top: 15%;
    right: 700px;
    color: rgb(0, 0, 0);
    font-size: 30px; /* Tamanho da fonte */
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold; /* Deixa o texto mais grosso */
}
